<!doctype html>
<head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
      <title>{% block title %}Welcome{% endblock %}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="{{ '/static/scribbler-global.css'|url }}">
      <link rel="stylesheet" href="{{ '/static/scribbler-landing.css'|url }}">
      <link rel="author" href="humans.txt">
  </head>
