{% include 'header.html' %}
<body>
  {% include 'nav.html' %}

  <div class="terminal space shadow">
    <div class="top">
        <div class="btns">
            <span class="circle red"></span>
            <span class="circle yellow"></span>
            <span class="circle green"></span>
        </div>
        <div class="title">{{ this.title }} -- </div>
    </div>
    <div class="body">
      {{ this.body }}
    </div>
  </div>

  {% include 'hero.html' %}
  {% include 'footer.html' %}
</body>
