{% macro render_blog_post(post, from_index=false) %}
  <section class="container">
    {% if from_index %}
      <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% else %}
      <h2>{{ post.title }}</h2>
    {% endif %}
    <p class="meta">
      written by
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle
          }}">{{ post.author or post.twitter_handle }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date }}
    </p>
    {{ post.body }}
  </section>
{% endmacro %}

{% macro render_rss_post(post, from_index=false) %}
  <item>
  {% if from_index %}
    <title>{{ post.title }}</title>
    <link>{{ 'https://sifr.tech' + post.path }}</link>
    <guid isPermaLink="true">{{ 'https://sifr.tech' + post.path }}</guid>
  {% endif %}
    <dc:date>{{ post.pub_date }}</dc:date>
    <dc:creator>{{ post.author }}</dc:creator>
    <description>{{ post.summary }}</description>
    <content:encoded><![CDATA[ {{ post.body }} ]]></content:encoded>
  </item>
{% endmacro %}
