* { margin: 0; padding: 0; }
body {
  background: rgb(33,0,84);
  background: linear-gradient(90deg, rgba(33,0,84,1) 0%, rgba(9,9,121,1) 35%, rgba(117,0,255,1) 100%);
  color: #eee;
}
.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
}
.terminal .top {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
.terminal .btns {
    position: absolute;
    top: 7px;
    left: 5px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.title{
    text-align: center;
}
.red { background: #EC6A5F; border-color: #D04E42; }
.green { background: #64CC57; border-color: #4EA73B; }
.yellow{ background: #F5C04F; border-color: #D6A13D; }
.clear{clear: both;}
.terminal .body {
    background: rgba(0, 43, 54, 0.85);
    color: #839496;
    padding: 8px;
}
.terminal .body {
    font-family: monospace;
    line-height: 2em;
}
.space {
    margin: 25px;
}
.shadow { box-shadow: 0px 0px 10px rgba(0,0,0,.4)}

.wordwrap {
    /* wrap long text and urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}

p {
    max-width: 95%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1em;
}

ul {
  padding: 2em;
}

code {
  background-color: #073642;
  padding: 2px;
}
a {
  color: #b58900;
}
a:visited {
  color: #cb4b16;
}
a:hover {
  color: #cb4b16;
}
h1 {
  color: #d33682;
}
h2,
h3,
h4,
h5,
h6 {
  color: #859900;
}

/* HEADER */
.inner {
  display: flex;
}


.logo img {
  border-radius: 50%;
  width: 75px;
  border: 1px dashed;
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}

nav {
    font-family: monospace;
    float:right;
    padding-top: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* blog */

img {
  max-width: 75%;
}


/* container */
.container {
  font-family: monospace;
  padding: 2em;
}
